In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('demanda-de-electricidad-datos-mensuales.csv')

In [3]:
df.shape

(212, 30)

In [4]:
df.head()

,indice_tiempo,demanda_total,demanda_residencial,comercio_e_industria,grandes_usuarios,temperatura_promedio,potencia_maxima,ede_tucuman,edelap_sa,edenor_distribuidor,...,energia_de_catamarca_sa,energia_de_entre_rios_sa,energia_de_mendoza_sa,energia_san_juan_sa_exedessa,epec_distribuidor,epen_distribuidor,epesf_distribuidor,recursos_y_energia_formosa_sa,secheep,spse_santa_cruz
0,2001-01-01,6866.26,NaN,NaN,NaN,25.432,13501.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001-02-01,6473.10,NaN,NaN,NaN,25.596,14061.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001-03-01,6952.30,NaN,NaN,NaN,22.852,13780.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001-04-01,6183.35,NaN,NaN,NaN,18.317,12866.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2001-05-01,6668.94,NaN,NaN,NaN,14.306,12968.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Parsing dates

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 30 columns):
indice_tiempo                     212 non-null object
demanda_total                     212 non-null float64
demanda_residencial               164 non-null float64
comercio_e_industria              164 non-null float64
grandes_usuarios                  164 non-null float64
temperatura_promedio              212 non-null float64
potencia_maxima                   212 non-null float64
ede_tucuman                       56 non-null float64
edelap_sa                         56 non-null float64
edenor_distribuidor               56 non-null float64
edesal_distribuidor               56 non-null float64
edestesa_emp_dist__este           56 non-null float64
edesur_distribuidor               56 non-null float64
emp_de_energia_de_rio_negro_sa    56 non-null float64
emp_dist_energ_atlantica          56 non-null float64
emp_de_energia_de_la_rioja_sa     56 non-null float64
emp_dist_energia_de_salta         56 non-null float64
emp_electric_misiones_sa          56 non-null float64
empresa_dis_estero_sa             56 non-null float64
empresa_jujenia_de_energia_sa     56 non-null float64
energia_de_catamarca_sa           56 non-null float64
energia_de_entre_rios_sa          56 non-null float64
energia_de_mendoza_sa             56 non-null float64
energia_san_juan_sa_exedessa      56 non-null float64
epec_distribuidor                 56 non-null float64
epen_distribuidor                 56 non-null float64
epesf_distribuidor                56 non-null float64
recursos_y_energia_formosa_sa     56 non-null float64
secheep                           56 non-null float64
spse_santa_cruz                   56 non-null float64
dtypes: float64(29), object(1)
memory usage: 49.8+ KB

In [6]:
df['indice_tiempo'] = pd.to_datetime(df['indice_tiempo'], format='%Y-%m-%d')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 30 columns):
indice_tiempo                     212 non-null datetime64[ns]
demanda_total                     212 non-null float64
demanda_residencial               164 non-null float64
comercio_e_industria              164 non-null float64
grandes_usuarios                  164 non-null float64
temperatura_promedio              212 non-null float64
potencia_maxima                   212 non-null float64
ede_tucuman                       56 non-null float64
edelap_sa                         56 non-null float64
edenor_distribuidor               56 non-null float64
edesal_distribuidor               56 non-null float64
edestesa_emp_dist__este           56 non-null float64
edesur_distribuidor               56 non-null float64
emp_de_energia_de_rio_negro_sa    56 non-null float64
emp_dist_energ_atlantica          56 non-null float64
emp_de_energia_de_la_rioja_sa     56 non-null float64
emp_dist_energia_de_salta         56 non-null float64
emp_electric_misiones_sa          56 non-null float64
empresa_dis_estero_sa             56 non-null float64
empresa_jujenia_de_energia_sa     56 non-null float64
energia_de_catamarca_sa           56 non-null float64
energia_de_entre_rios_sa          56 non-null float64
energia_de_mendoza_sa             56 non-null float64
energia_san_juan_sa_exedessa      56 non-null float64
epec_distribuidor                 56 non-null float64
epen_distribuidor                 56 non-null float64
epesf_distribuidor                56 non-null float64
recursos_y_energia_formosa_sa     56 non-null float64
secheep                           56 non-null float64
spse_santa_cruz                   56 non-null float64
dtypes: datetime64[ns](1), float64(29)
memory usage: 49.8 KB

In [8]:
df['month'] = df['indice_tiempo'].dt.month
df['year'] = df['indice_tiempo'].dt.year
df['quarter'] = df['indice_tiempo'].dt.quarter

In [9]:
df.head()

,indice_tiempo,demanda_total,demanda_residencial,comercio_e_industria,grandes_usuarios,temperatura_promedio,potencia_maxima,ede_tucuman,edelap_sa,edenor_distribuidor,...,energia_san_juan_sa_exedessa,epec_distribuidor,epen_distribuidor,epesf_distribuidor,recursos_y_energia_formosa_sa,secheep,spse_santa_cruz,month,year,quarter
0,2001-01-01,6866.26,NaN,NaN,NaN,25.432,13501.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2001,1
1,2001-02-01,6473.10,NaN,NaN,NaN,25.596,14061.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2001,1
2,2001-03-01,6952.30,NaN,NaN,NaN,22.852,13780.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2001,1
3,2001-04-01,6183.35,NaN,NaN,NaN,18.317,12866.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2001,2
4,2001-05-01,6668.94,NaN,NaN,NaN,14.306,12968.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,2001,2

In [10]:
df['indice_tiempo'] = pd.to_datetime(df['indice_tiempo'], infer_datetime_format=True)

## Normalization

In [11]:
from sklearn import preprocessing

In [12]:
df['demanda_total'].describe()

count      212.000000
mean      9042.455374
std       1714.310045
min       5745.320000
25%       7656.552500
50%       9024.050000
75%      10350.370282
max      12603.906401
Name: demanda_total, dtype: float64

In [13]:
X = df['demanda_total'].values

In [14]:
X_scaled = preprocessing.scale(X)

In [15]:
X_scaled

array([-1.27243385, -1.50231675, -1.22212578, -1.67173523, -1.38780799,
       -1.45199698, -1.30720046, -1.46835704, -1.65518221, -1.62222235,
       -1.70137396, -1.5167508 , -1.50314119, -1.92785387, -1.50873097,
       -1.79633602, -1.59150191, -1.40771137, -1.2578396 , -1.47806316,
       -1.69917547, -1.57734619, -1.55439649, -1.42987171, -1.18873323,
       -1.56557606, -1.26775621, -1.61500123, -1.32649574, -1.30268068,
       -1.00612964, -1.08423463, -1.34757439, -1.24863633, -1.291314  ,
       -1.13134437, -0.83139034, -1.28396425, -0.87557655, -1.18727147,
       -1.00405978, -1.04259189, -0.857094  , -1.14975675, -1.2193952 ,
       -1.14317296, -1.11979058, -0.76183375, -0.61930589, -1.04871376,
       -0.790841  , -1.06961114, -0.80333031, -0.77341677, -0.57350004,
       -0.63671842, -0.89697093, -0.95841765, -0.73562724, -0.55204719,
       -0.63414572, -0.96286727, -0.58754467, -0.86937282, -0.54164527,
       -0.46399636, -0.42622437, -0.31893087, -0.70986511, -0.59485349,
       -0.61064055, -0.11901999, -0.17497633, -0.51702916, -0.23660431,
       -0.60344867, -0.14790445, -0.11171117, -0.01049861,  0.03744726,
       -0.56123292, -0.39295461, -0.46078047, -0.07078177,  0.07755807,
       -0.18339609, -0.26192206, -0.44195295, -0.15474551,  0.09784736,
        0.0494922 , -0.01003085, -0.26595653, -0.33050804, -0.07458236,
        0.00639939,  0.02551926, -0.46826471, -0.05078483, -0.54831092,
       -0.35500721,  0.04194949,  0.2722066 , -0.17778291, -0.40476567,
       -0.36354392, -0.23297913, -0.01102484,  0.40785832, -0.15702586,
        0.27857989, -0.35570886, -0.10294058,  0.18976309,  0.60730144,
        0.40382385, -0.16755056, -0.27759218, -0.12153422,  0.63337931,
        0.69494883,  0.05060314,  0.47977713, -0.07288671,  0.30284518,
        0.63928484,  0.88883724,  0.74225152,  0.02750726,  0.01166174,
        0.27097872,  0.6292279 ,  1.03162237,  0.61203756,  0.66395942,
       -0.04236507,  0.32699352,  0.7335394 ,  1.18651091,  0.79861715,
        0.17315745,  0.33067717,  0.57824157,  1.04185472,  1.22300786,
        0.46291422,  0.41728922,  0.15487614,  0.69601614,  0.77068996,
        1.23590299,  1.08873598,  0.67440987,  0.586612  ,  0.56906265,
        1.8996101 ,  1.73183223,  0.45695501,  0.43697596,  0.32329488,
        0.79908784,  1.0871197 ,  1.35738654,  0.8467866 ,  0.4473518 ,
        0.97297238,  0.76145131,  1.27870604,  1.55750089,  0.94876175,
        1.46531442,  0.57533836,  0.8333099 ,  1.29334815,  1.67512721,
        1.22075292,  0.88316749,  0.98214129,  0.68804315,  1.67633968,
        1.9309651 ,  1.57250152,  0.82970941,  0.73061637,  1.35391896,
        1.61992229,  1.68815647,  1.0600636 ,  0.78328683,  0.53417749,
        0.63737904,  1.64384105,  2.03618516,  1.18838577,  1.216057  ,
        0.43929128,  1.02484763,  1.3546902 ,  1.6102622 ,  1.20729761,
        0.76370118,  0.69280255,  0.7678777 ,  1.74367433,  1.93404741,
        1.38092725,  1.2891514 ,  0.84832566,  0.94898095,  1.68359266,
        2.08240074,  1.56204753])

In [16]:
X_scaled.shape

(212,)

In [17]:
X_scaled.mean()

-4.021940013736416e-16

In [18]:
X_scaled.std()

0.9999999999999999

## One-hot-encoding

In [19]:
df = pd.read_csv('fut19.csv')

/home/rodixxi/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (75,76,77,78) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
df.head()

,player_ID,player_name,player_extended_name,quality,revision,origin,overall,club,league,nationality,...,rf,lf,rw,lw,st,price_ps4,price_xbox,price_pc,traits,specialties
0,1,Pelé,Arantes Nascimento Edson,Gold - Rare,Icon,NaN,98,Icons,Icons,Brazil,...,96.0,96,96,96,95,NaN,NaN,NaN,Finesse Shot,"Speedster, Aerial Threat, Dribbler, Play Maker..."
1,2,Maradona,Diego Maradona,Gold - Rare,Icon,NaN,97,Icons,Icons,Argentina,...,94.0,94,94,94,90,2400000.0,2954000.0,NaN,"Avoids Using Weaker Foot, Finesse Shot, Flair,...","Speedster, Dribbler, Play Maker, Distance Shoo..."
2,3,Ronaldo,Nazário de Lima Ronaldo Luís,Gold - Rare,Icon,NaN,96,Icons,Icons,Brazil,...,94.0,94,92,92,94,5697000.0,7650000.0,NaN,"Tries To Beat Defensive Line, Finesse Shot","Speedster, Dribbler, Distance Shooter, FK Spec..."
3,4,Pelé,Arantes Nascimento Edson,Gold - Rare,Icon,NaN,95,Icons,Icons,Brazil,...,94.0,94,94,94,92,2600000.0,3650000.0,4501000.0,Finesse Shot,"Speedster, Dribbler, Distance Shooter, Crosser..."
4,5,Maradona,Diego Maradona,Gold - Rare,Icon,NaN,95,Icons,Icons,Argentina,...,92.0,92,92,92,88,1695000.0,2600000.0,4201000.0,"Avoids Using Weaker Foot, Finesse Shot, Flair,...","Dribbler, Play Maker, Distance Shooter, Crosse..."

In [21]:
df_filtered = df[['player_name', 'club', 'overall']].copy()

In [22]:
df_filtered.head()

  player_name   club  overall
0        Pelé  Icons       98
1    Maradona  Icons       97
2     Ronaldo  Icons       96
3        Pelé  Icons       95
4    Maradona  Icons       95

In [23]:
df_filtered['club'].value_counts()

Icons                              222
Liverpool                           59
Manchester United                   57
Borussia Dortmund                   57
Manchester City                     56
Paris Saint-Germain                 55
Tottenham Hotspur                   54
Valencia CF                         53
FC Bayern München                   52
Real Madrid                         52
FC Barcelona                        51
Juventus                            51
Napoli                              51
TSG 1899 Hoffenheim                 50
Olympique Lyonnais                  49
Roma                                49
SL Benfica                          49
Inter                               49
FC Schalke 04                       48
AS Monaco Football Club SA          48
Atlético Madrid                     45
Ajax                                42
Galatasaray SK                      42
FC Porto                            41
PSV                                 40
Lokomotiv Moscow                    40
Shakhtar Donetsk                    39
Arsenal                             36
CSKA Moscow                         35
West Ham United                     35
                                  ...
Vélez Sarsfield                     16
Bray Wanderers                      16
Curicó Unido                        16
Club Atlético Banfield              15
Defensa y Justicia                  15
Limerick FC                         15
Lobos B.U.A.P.                      15
Padova                              15
Club Tijuana                        15
Cosenza Calcio                      13
Unión Española                      13
Newell's Old Boys                   13
Unión de Santa Fe                   13
Funchal                             13
RCD Mallorca                        12
San Martín                          12
Büyükşehir Belediye Erzurumspor     12
Elche CF                            12
Gimnasia y Esgrima La Plata         12
Grenoble Foot 38                    12
Leones FC                           11
Rayo Majadahonda                    11
Godoy Cruz                          11
San Martín de Tucumán               11
Extremadura UD                      11
AS Béziers                           9
Santa Clara                          9
Estudiantes de La Plata              9
Argentinos Juniors                   9
Boyacá Chicó FC                      9
Name: club, Length: 637, dtype: int64

In [24]:
selected_clubs = ['FC Barcelona', 'Real Madrid', 'Juventus', 'Liverpool']

In [25]:
tmp_df = df_filtered.loc[df_filtered['club'].isin(selected_clubs)]

In [26]:
tmp_df.sample(10)

       player_name          club  overall
177            Can      Juventus       81
605  Lucas Vázquez   Real Madrid       84
479      Sturridge     Liverpool       81
162        Khedira      Juventus       85
485         Milner     Liverpool       81
149        Bonucci      Juventus       87
589       Casemiro   Real Madrid       89
603       Carvajal   Real Madrid       84
619        Vallejo   Real Madrid       78
365      Cillessen  FC Barcelona       81

In [27]:
pd.get_dummies(tmp_df, columns=['club'])

,player_name,overall,club_FC Barcelona,club_Juventus,club_Liverpool,club_Real Madrid
142,Ronaldo,94,0,1,0,0
143,Chiellini,90,0,1,0,0
144,Dybala,90,0,1,0,0
145,Chiellini,89,0,1,0,0
146,Dybala,89,0,1,0,0
147,Benatia,87,0,1,0,0
148,Alex Sandro,87,0,1,0,0
149,Bonucci,87,0,1,0,0
150,Douglas Costa,87,0,1,0,0
151,Pjanic,87,0,1,0,0
152,Khedira,86,0,1,0,0
153,Douglas Costa,86,0,1,0,0
154,Alex Sandro,86,0,1,0,0
155,Matuidi,86,0,1,0,0
156,Bonucci,86,0,1,0,0
157,Benatia,86,0,1,0,0
158,Pjanic,86,0,1,0,0
159,Barzagli,85,0,1,0,0
160,Szczesny,85,0,1,0,0
161,Mandžukic,85,0,1,0,0
162,Khedira,85,0,1,0,0
163,Perin,85,0,1,0,0
164,Cuadrado,85,0,1,0,0
165,Matuidi,85,0,1,0,0
166,Mandžukic,84,0,1,0,0
167,Barzagli,84,0,1,0,0
168,Perin,84,0,1,0,0
169,Cuadrado,84,0,1,0,0
170,Szczesny,84,0,1,0,0
171,Bernardeschi,83,0,1,0,0
...,...,...,...,...,...,...
623,Zidane,63,0,0,0,1
3617,João Cancelo,84,0,1,0,0
12753,Arthur,83,1,0,0,0
12766,Arthur,82,1,0,0,0
12791,Can,80,0,1,0,0
12817,Mariano,80,0,0,0,1
12952,Vinícius Júnior,78,0,0,0,1
13013,Vinícius Júnior,77,0,0,0,1
13158,Wagué,69,1,0,0,0
13381,Virtue-Thick,59,0,0,1,0
13855,Kelleher,58,0,0,1,0
14029,Riqui Puig,68,1,0,0,0
14259,Abel Ruiz,67,1,0,0,0
14315,Reguilón,64,0,0,0,1
14892,Miranda,66,1,0,0,0
15687,Beruatto,62,0,1,0,0
15929,Phillips,61,0,0,1,0
15961,Jones,61,0,0,1,0
15976,Rafael Camacho,61,0,0,1,0
16244,Adekanye,60,0,0,1,0
16466,Matip,84,0,0,1,0
16485,Ronaldo,95,0,1,0,0
16492,Fábio Coentrão,80,0,0,0,1
16500,Ronaldo,94,0,1,0,0
16501,João Cancelo,84,0,1,0,0
16505,Malcom,83,1,0,0,0
16508,Alisson,85,0,0,1,0
16509,Keïta,83,0,0,1,0
16511,Mariano,80,0,0,0,1
16544,Mandžukic,86,0,1,0,0

### Label encoding

In [28]:
le = preprocessing.LabelEncoder()

In [29]:
le.fit(tmp_df['club'])

LabelEncoder()

In [30]:
le.classes_

array(['FC Barcelona', 'Juventus', 'Liverpool', 'Real Madrid'],
      dtype=object)

In [31]:
le.transform(['FC Barcelona', 'Juventus', 'Liverpool', 'Real Madrid'])

array([0, 1, 2, 3])

In [32]:
le.inverse_transform([0, 1, 2, 3])

/home/rodixxi/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

array(['FC Barcelona', 'Juventus', 'Liverpool', 'Real Madrid'],
      dtype=object)

In [33]:
club_le = le.transform(tmp_df['club'])

In [34]:
club_le

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 1, 0, 0, 1, 3, 3, 3, 0, 2, 2, 0, 0, 3, 0,
       1, 2, 2, 2, 2, 2, 1, 3, 1, 1, 0, 2, 2, 3, 1])

In [35]:
tmp_df.head()

    player_name      club  overall
142     Ronaldo  Juventus       94
143   Chiellini  Juventus       90
144      Dybala  Juventus       90
145   Chiellini  Juventus       89
146      Dybala  Juventus       89

In [36]:
pd.DataFrame(club_le)

     0
0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
10   1
11   1
12   1
13   1
14   1
15   1
16   1
17   1
18   1
19   1
20   1
21   1
22   1
23   1
24   1
25   1
26   1
27   1
28   1
29   1
..  ..
183  3
184  1
185  0
186  0
187  1
188  3
189  3
190  3
191  0
192  2
193  2
194  0
195  0
196  3
197  0
198  1
199  2
200  2
201  2
202  2
203  2
204  1
205  3
206  1
207  1
208  0
209  2
210  2
211  3
212  1

[213 rows x 1 columns]

In [37]:
pd.concat([tmp_df, pd.DataFrame(club_le)], axis=0)

/home/rodixxi/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/api.py:107: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  result = result.union(other)

       player_name      club  overall    0
142        Ronaldo  Juventus     94.0  NaN
143      Chiellini  Juventus     90.0  NaN
144         Dybala  Juventus     90.0  NaN
145      Chiellini  Juventus     89.0  NaN
146         Dybala  Juventus     89.0  NaN
147        Benatia  Juventus     87.0  NaN
148    Alex Sandro  Juventus     87.0  NaN
149        Bonucci  Juventus     87.0  NaN
150  Douglas Costa  Juventus     87.0  NaN
151         Pjanic  Juventus     87.0  NaN
152        Khedira  Juventus     86.0  NaN
153  Douglas Costa  Juventus     86.0  NaN
154    Alex Sandro  Juventus     86.0  NaN
155        Matuidi  Juventus     86.0  NaN
156        Bonucci  Juventus     86.0  NaN
157        Benatia  Juventus     86.0  NaN
158         Pjanic  Juventus     86.0  NaN
159       Barzagli  Juventus     85.0  NaN
160       Szczesny  Juventus     85.0  NaN
161      Mandžukic  Juventus     85.0  NaN
162        Khedira  Juventus     85.0  NaN
163          Perin  Juventus     85.0  NaN
164       Cuadrado  Juventus     85.0  NaN
165        Matuidi  Juventus     85.0  NaN
166      Mandžukic  Juventus     84.0  NaN
167       Barzagli  Juventus     84.0  NaN
168          Perin  Juventus     84.0  NaN
169       Cuadrado  Juventus     84.0  NaN
170       Szczesny  Juventus     84.0  NaN
171   Bernardeschi  Juventus     83.0  NaN
..             ...       ...      ...  ...
183            NaN       NaN      NaN  3.0
184            NaN       NaN      NaN  1.0
185            NaN       NaN      NaN  0.0
186            NaN       NaN      NaN  0.0
187            NaN       NaN      NaN  1.0
188            NaN       NaN      NaN  3.0
189            NaN       NaN      NaN  3.0
190            NaN       NaN      NaN  3.0
191            NaN       NaN      NaN  0.0
192            NaN       NaN      NaN  2.0
193            NaN       NaN      NaN  2.0
194            NaN       NaN      NaN  0.0
195            NaN       NaN      NaN  0.0
196            NaN       NaN      NaN  3.0
197            NaN       NaN      NaN  0.0
198            NaN       NaN      NaN  1.0
199            NaN       NaN      NaN  2.0
200            NaN       NaN      NaN  2.0
201            NaN       NaN      NaN  2.0
202            NaN       NaN      NaN  2.0
203            NaN       NaN      NaN  2.0
204            NaN       NaN      NaN  1.0
205            NaN       NaN      NaN  3.0
206            NaN       NaN      NaN  1.0
207            NaN       NaN      NaN  1.0
208            NaN       NaN      NaN  0.0
209            NaN       NaN      NaN  2.0
210            NaN       NaN      NaN  2.0
211            NaN       NaN      NaN  3.0
212            NaN       NaN      NaN  1.0

[426 rows x 4 columns]

In [38]:
pd.concat([tmp_df.reset_index(drop=True), pd.DataFrame({'club_le': club_le})], axis=1)

         player_name          club  overall  club_le
0            Ronaldo      Juventus       94        1
1          Chiellini      Juventus       90        1
2             Dybala      Juventus       90        1
3          Chiellini      Juventus       89        1
4             Dybala      Juventus       89        1
5            Benatia      Juventus       87        1
6        Alex Sandro      Juventus       87        1
7            Bonucci      Juventus       87        1
8      Douglas Costa      Juventus       87        1
9             Pjanic      Juventus       87        1
10           Khedira      Juventus       86        1
11     Douglas Costa      Juventus       86        1
12       Alex Sandro      Juventus       86        1
13           Matuidi      Juventus       86        1
14           Bonucci      Juventus       86        1
15           Benatia      Juventus       86        1
16            Pjanic      Juventus       86        1
17          Barzagli      Juventus       85        1
18          Szczesny      Juventus       85        1
19         Mandžukic      Juventus       85        1
20           Khedira      Juventus       85        1
21             Perin      Juventus       85        1
22          Cuadrado      Juventus       85        1
23           Matuidi      Juventus       85        1
24         Mandžukic      Juventus       84        1
25          Barzagli      Juventus       84        1
26             Perin      Juventus       84        1
27          Cuadrado      Juventus       84        1
28          Szczesny      Juventus       84        1
29      Bernardeschi      Juventus       83        1
..               ...           ...      ...      ...
183           Zidane   Real Madrid       63        3
184     João Cancelo      Juventus       84        1
185           Arthur  FC Barcelona       83        0
186           Arthur  FC Barcelona       82        0
187              Can      Juventus       80        1
188          Mariano   Real Madrid       80        3
189  Vinícius Júnior   Real Madrid       78        3
190  Vinícius Júnior   Real Madrid       77        3
191            Wagué  FC Barcelona       69        0
192     Virtue-Thick     Liverpool       59        2
193         Kelleher     Liverpool       58        2
194       Riqui Puig  FC Barcelona       68        0
195        Abel Ruiz  FC Barcelona       67        0
196         Reguilón   Real Madrid       64        3
197          Miranda  FC Barcelona       66        0
198         Beruatto      Juventus       62        1
199         Phillips     Liverpool       61        2
200            Jones     Liverpool       61        2
201   Rafael Camacho     Liverpool       61        2
202         Adekanye     Liverpool       60        2
203            Matip     Liverpool       84        2
204          Ronaldo      Juventus       95        1
205   Fábio Coentrão   Real Madrid       80        3
206          Ronaldo      Juventus       94        1
207     João Cancelo      Juventus       84        1
208           Malcom  FC Barcelona       83        0
209          Alisson     Liverpool       85        2
210            Keïta     Liverpool       83        2
211          Mariano   Real Madrid       80        3
212        Mandžukic      Juventus       86        1

[213 rows x 4 columns]

In [41]:
df['club'].unique()

array(['Icons', 'Juventus', 'Borussia Dortmund', 'Manchester United',
       'Manchester City', 'FC Barcelona', 'Chelsea', 'FC Bayern München',
       'Liverpool', 'Tottenham Hotspur', 'Arsenal', 'Real Madrid',
       'Everton', 'Milan', 'Sporting CP', 'Napoli', 'FC Porto', 'Roma',
       'Paris Saint-Germain', 'Atlético Madrid', 'Lazio', 'Watford',
       'Fenerbahçe SK', 'Bayer 04 Leverkusen', 'Real Sociedad',
       'Sevilla FC', 'Villarreal CF', 'West Ham United', 'SL Benfica',
       'AS Monaco Football Club SA', 'TSG 1899 Hoffenheim', 'Southampton',
       'Inter', 'Beşiktaş JK', 'RCD Espanyol', 'Leicester City',
       'Athletic Club', 'Borussia Mönchengladbach', 'VfL Wolfsburg',
       'Fiorentina', 'Stoke City', 'FC Schalke 04', '1. FSV Mainz 05',
       'RC Celta', 'Olympique Lyonnais', 'Real Betis', 'Valencia CF',
       'West Bromwich Albion', 'Eintracht Frankfurt', 'RC Deportivo',
       'UD Las Palmas', 'Olympiacos CFP', 'Swansea City',
       'Spartak Moscow', 'RB Leipzig', 'Olympique de Marseille',
       'Shakhtar Donetsk', 'Ajax', 'OGC Nice', 'Torino', 'Málaga CF',
       '1. FC Köln', 'Hertha BSC', 'SD Eibar', 'Crystal Palace',
       'SC Braga', 'Tigres U.A.N.L.', 'Galatasaray SK', 'CD Leganés',
       'Newcastle United', 'SV Werder Bremen', 'PSV', 'Feyenoord',
       'CSKA Moscow', 'Bournemouth', 'Chievo Verona', 'D. Alavés',
       'Genoa', 'Hamburger SV', 'Lokomotiv Moscow', 'Bologna',
       'Sampdoria', 'Burnley', 'River Plate', 'Buenos Aires', 'Atalanta',
       'RSC Anderlecht', 'Trabzonspor', 'Udinese', 'Vitória Guimarães',
       'Medipol Başakşehir FK', 'FC Girondins de Bordeaux', 'Sassuolo',
       'FC Basel', 'Brighton & Hove Albion', 'FC Augsburg', 'PAOK',
       'FC Nantes', 'Toulouse Football Club', 'VfB Stuttgart',
       'AS Saint-Étienne', 'San Lorenzo de Almagro', 'Hannover 96',
       'Montpellier Hérault SC', 'Stade Rennais FC', 'Levante UD',
       'Antalyaspor', 'Monterrey', 'Angers SCO', 'En Avant de Guingamp',
       'Cagliari', 'Girona FC', 'Club Brugge KV', 'Toronto FC',
       'Wolverhampton Wanderers', 'SPAL', 'Sport-Club Freiburg',
       'Bursaspor', 'Getafe CF', 'Celtic', 'KAA Gent', 'Hull City',
       'Club León', 'Atlanta United', 'LOSC Lille', 'Club América',
       'Pachuca', 'Seattle Sounders FC', 'Guadalajara',
       'Club Atlético Lanús', 'Los Angeles Football Club', 'Aston Villa',
       'Hellas Verona', 'Kayserispor', 'AEK Athens', 'Chaves', 'Fulham',
       'Al Hilal', 'Huddersfield Town', 'Cruz Azul', 'Atlético Nacional',
       'LA Galaxy', 'Independiente', 'CA Osasuna', 'Al Ahli',
       'Sunderland', 'FC Utrecht', 'Rayo Vallecano', 'Amiens SC',
       'Granada CF', 'Leeds United', 'Portland Timbers',
       'FC Ingolstadt 04', 'RC Strasbourg Alsace', 'Monarcas Morelia',
       'Impact Montréal', 'Sparta Praha', 'Columbus Crew SC',
       'Rio Ave FC', 'U.N.A.M.', 'Club Atlético Banfield',
       'Universidad de Chile', 'Norwich City', 'Sheffield Wednesday',
       'Birmingham City', 'Dijon FCO', 'Alanyaspor', 'Panathinaikos FC',
       'Vancouver Whitecaps FC', 'SV Darmstadt 98', 'Derby County',
       'R. Sporting', 'AZ', 'Kaizer Chiefs', 'Benevento', 'Junior FC',
       'Club Tijuana', 'Stade Malherbe Caen', 'KRC Genk', 'Club Necaxa',
       'Royal Antwerp FC', 'CS Marítimo', 'Atiker Konyaspor',
       'Racing Club', 'Santos Laguna', 'FC Dallas',
       'Chicago Fire Soccer Club', 'AIK', 'Vitesse', 'Aberdeen',
       'New York City FC', 'Al Ittihad', 'BSC Young Boys',
       'Melbourne City', 'Djurgårdens IF', 'Rosario Central', 'Nàstic',
       'Nottingham Forest', '1. FC Nürnberg', 'Middlesbrough',
       'R. Valladolid CF', 'Reading', '1. FC Union Berlin',
       'Independiente Santa Fe', 'Puebla', 'SG Dynamo Dresden',
       'Standard de Liège', 'ESTAC Troyes', 'KV Oostende', 'FC København',
       'Orlando City Soccer Club', 'Rangers FC', 'Desportivo Aves',
       'FC Midtjylland', 'Göztepe SK', 'Sivasspor',
       'Club Atlético Huracán', 'San Jose Earthquakes',
       'Football Club de Metz', 'CD Tenerife', 'Palermo',
       'Legia Warszawa', 'Deportivo Cali', '1. FC Heidenheim 1846',
       'Akhisar Belediyespor', 'Holstein Kiel', 'Vitória Setúbal',
       'New York Red Bulls', 'Sporting Kansas City', 'AS Nancy Lorraine',
       'FC Groningen', 'Club Atlas', 'Querétaro', 'Crotone',
       'FC Red Bull Salzburg', 'ADO Den Haag', 'D.C. United',
       'New England Revolution', 'Colorado Rapids', 'FC Seoul',
       'Ulsan Hyundai Horang-i', 'SC Heerenveen', 'Brentford',
       'Kashima Antlers', 'Frosinone', 'Al Nassr',
       'Evkur Yeni Malatyaspor', '1. FC Kaiserslautern',
       'Deportivo Toluca', 'R. Zaragoza', 'Independiente Medellín',
       'Colón de Santa Fe', 'La Equidad', 'FC Lorient',
       'Rotherham United', 'Vissel Kobe', 'Godoy Cruz', 'Sydney FC',
       'Club Atlético Tigre', 'FC St. Gallen', 'Belgrano de Córdoba',
       'Grasshopper Club Zürich', 'Nîmes Olympique',
       'Estudiantes de La Plata', 'Cerezo Osaka', 'Brisbane Roar',
       'Brescia', "Newell's Old Boys", 'Hokkaido Consadole Sapporo',
       'Kalmar FF', 'Perth Glory', 'Luton Town',
       'FC Admira Wacker Mödling', 'Western Sydney Wanderers',
       'SC Paderborn 07', 'Tromsø IL', 'SpVgg Unterhaching',
       'Argentinos Juniors', 'Queens Park Rangers', 'Cardiff City',
       'Lechia Gdańsk', 'Cádiz CF', 'Philadelphia Union', 'Ipswich Town',
       'CF Os Belenenses', 'Boavista FC', 'KV Kortrijk', 'CF Reus',
       'Kawasaki Frontale', 'Bolton Wanderers', 'Sporting Charleroi',
       'Preston North End', 'MSV Duisburg', 'Bristol City',
       'SV Zulte-Waregem', 'AD Alcorcón', 'DSC Arminia Bielefeld',
       'VfL Bochum 1848', 'SK Rapid Wien', 'Stade Brestois 29',
       'Houston Dynamo', 'Jeonbuk Hyundai Motors', 'UD Almería',
       'Excelsior', 'Heracles Almelo', 'América de Cali',
       'Millonarios FC', 'Tiburones Rojos de Veracruz', 'Salerno',
       'CD Lugo', 'SD Huesca', 'Racing Club de Lens', 'Pescara',
       'CD Numancia', 'Jeju United FC', 'Albacete Bpie',
       'Sangju Sangmu FC', 'CD Feirense', 'Portimonense SC',
       'Burton Albion', 'SV Sandhausen', 'Eintracht Braunschweig',
       'Fortuna Düsseldorf', 'R. Oviedo', 'Waasland-Beveren',
       'Orlando Pirates', 'Parma', 'SpVgg Greuther Fuerth',
       'Rosenborg BK', 'Stade de Reims', 'FC Erzgebirge Aue',
       'Sint-Truidense VV', 'BK Häcken', 'Lech Poznań', 'NAC Breda',
       'PEC Zwolle', 'Sporting Lokeren', 'FC St. Pauli', 'Kasimpaşa SK',
       'Cremona', 'Urawa Red Diamonds', 'Tondela', 'Rionegro Águilas',
       'Malmö FF', 'Sheffield United', 'Moreirense FC', 'Wigan Athletic',
       'Jagiellonia Białystok', 'Zagłębie Lubin', 'Blackburn Rovers',
       'Millwall', 'Brøndby IF', 'SSV Jahn Regensburg',
       'Suwon Samsung Bluewings', 'Karlsruher SC', 'Córdoba CF',
       'Wisła Kraków', 'Willem II', 'VVV-Venlo', 'La Spezia',
       'Real Salt Lake', 'Minnesota United FC', 'Gamba Osaka',
       'Jaguares Fútbol Club', 'AJ Auxerre', 'Perugia', 'Empoli',
       'Oxford United', 'Once Caldas', '1. FC Magdeburg',
       'Atlético Tucumán', 'Unión de Santa Fe', 'Deportes Tolima',
       'Sanfrecce Hiroshima', 'Charlton Athletic', 'SK Sturm Graz',
       'FC Sochaux-Montbéliard', 'FK Austria Wien', 'Molde FK',
       'IF Elfsborg', 'Milton Keynes Dons', 'KAS Eupen', 'Kashiwa Reysol',
       'Shimizu S-Pulse', 'F.C. Tokyo', 'Pogoń Szczecin', 'FC Sion',
       'Śląsk Wrocław', 'Hammarby IF', 'Strømsgodset IF',
       'Pohang Steelers', 'Randers FC', 'Ascoli', 'Barnsley',
       'Vélez Sarsfield', 'FC Würzburger Kickers', 'Carpi',
       'Alianza Petrolera', 'FC Hansa Rostock', 'Aarhus GF',
       'IFK Göteborg', 'VfL Osnabrück', 'SV Wehen-Wiesbaden',
       'SC Preußen Münster', 'Athlétic Club Ajaccio', 'FC Zürich',
       'Stabæk Fotball', 'SK Brann', 'Vålerenga Fotball', 'Odds BK',
       'Jeonnam Dragons', 'Plymouth Argyle', 'Bury', 'Scunthorpe United',
       'SCR Altach', 'Valenciennes FC', 'Al Shabab', 'Defensa y Justicia',
       'US Orléans Loiret Football', 'Sagan Tosu', 'Venezia',
       'La Berrichonne de Châteauroux', 'VfR Aalen', 'IFK Norrköping',
       'SønderjyskE', 'Havre Athletic Club', 'Portsmouth',
       'Bradford City', 'Chamois Niortais Football Club',
       'St. Johnstone FC', 'Lobos B.U.A.P.', 'Arka Gdynia',
       'Deportivo Pasto', 'Atlético Bucaramanga', 'Al Fayha',
       'Östersunds FK', 'Hibernian', 'Heart of Midlothian',
       'Clermont Foot 63', 'Northampton Town', 'Southend United',
       'Yokohama F・Marinos', 'Gazélec Football Club Ajaccio',
       'VfL Sportfreunde Lotte', 'Piast Gliwice',
       'SG Sonnenhof Großaspach', 'Melbourne Victory',
       'Royal Excel Mouscron', 'Atlético Huila', 'Club Atlético Talleres',
       'Kilmarnock', 'Aalborg BK', 'FC Luzern', 'FC Nordsjælland',
       'Notts County', 'Rochdale', 'Daegu FC', 'Patronato', 'FSV Zwickau',
       'San Martín', 'Gangwon FC', 'Sarpsborg 08 FF', 'Al Faisaly',
       'Hobro IK', 'Patriotas Boyacá FC', 'LASK Linz', 'Odense Boldklub',
       'Lillestrøm SK', 'FK Haugesund', 'Gimnasia y Esgrima La Plata',
       'Cracovia', 'Incheon United FC', 'Foggia', 'Cittadella', 'Al Raed',
       'Al Taawoun', 'Doncaster Rovers', 'Örebro SK', 'Walsall',
       'Peterborough United', 'Bristol Rovers', 'FC Lugano',
       'SC Fortuna Köln', 'Korona Kielce', 'Adelaide United',
       'Wellington Phoenix', 'Al Fateh', 'IK Sirius', 'FC Thun',
       'Coventry City', 'Gillingham', 'Oldham Athletic', 'Newcastle Jets',
       'Paris FC', 'Wolfsberger AC', 'Ettifaq FC', 'Envigado FC',
       'Exeter City', 'Dundee FC', 'Hamilton Academical FC',
       'Górnik Zabrze', 'SV Mattersburg', 'Wycombe Wanderers',
       'Colchester United', 'Mansfield Town', 'HJK Helsinki',
       'Júbilo Iwata', 'FC Carl Zeiss Jena', 'Central Coast Mariners',
       'AFC Wimbledon', 'Al Qadisiyah', 'Grimsby Town', 'Carlisle United',
       'Port Vale', 'Swindon Town', 'Hallescher FC', 'Crawley Town',
       'Fleetwood Town', 'Vegalta Sendai', 'Ohod Club', 'Crewe Alexandra',
       'Motherwell', 'Lincoln City', 'Dundalk', 'AC Horsens',
       'Wisła Płock', 'GIF Sundsvall', 'Blackpool', 'SV Meppen',
       'SKN St. Pölten', 'Shrewsbury', 'Bohemian FC', 'Yeovil Town',
       'Cork City', "St. Patrick's Athletic", 'Sandefjord Fotball',
       'Cambridge United', 'CD Viñazur', 'Al Batin', 'Morecambe',
       'Forest Green Rovers', 'Cheltenham Town', 'Accrington Stanley',
       'Unión Española', 'CD Palestino', "CD O'Higgins", 'Newport County',
       'CD Everton de Viña del Mar', 'Kristiansund BK', 'Stevenage',
       'Derry City', 'Sligo Rovers', 'Bray Wanderers', 'Limerick FC',
       'Shamrock Rovers', 'KFC Uerdingen 05', 'Lecce', 'Slavia Praha',
       'Neuchâtel Xamax', 'RCD Mallorca', 'Elche CF', 'Extremadura UD',
       'Livingston FC', 'Fortuna Sittard', 'De Graafschap',
       'Trelleborgs FF', 'Büyükşehir Belediye Erzurumspor',
       'Waterford FC', 'Vejle Boldklub', 'FK Bodø/Glimt', 'Esbjerg fB',
       'Santa Clara', 'IK Start', 'KSV Cercle Brugge', 'Livorno',
       'Funchal', 'Macclesfield Town', 'TSV Hartberg',
       'FC Wacker Innsbruck', 'Tranmere Rovers', 'FC Emmen', 'St. Mirren',
       'MKE Ankaragücü', 'Çaykur Rizespor', 'FC Dynamo Kyiv',
       'Audax Italiano', 'Rayo Majadahonda', 'Viktoria Plzeň', 'Padova',
       'Shanghai Greenland Shenhua FC', 'Universidad Católica',
       'Zagłębie Sosnowiec', 'Red Star FC', 'CD Huachipato',
       'GyeongNam FC', 'Vendsyssel FF', 'IF Brommapojkarna',
       'Club Atlético Aldosivi', 'San Martín de Tucumán',
       'Shandong Luneng Taishan', 'Beijing Guoan', 'Changchun Yatai FC',
       'Tianjin TEDA FC', 'Henan Jianye FC',
       'Guangzhou Evergrande Taobao', 'Boyacá Chicó FC', 'Nagoya Grampus',
       'Jiangsu Suning FC', 'Chongqing Lifan FC', 'Cosenza Calcio',
       'Ranheim Fotball', 'Dalian Yifang FC', 'Al Wehda',
       'Guangzhou R&F FC', 'V-Varen Nagasaki', 'Miedź Legnica',
       'Deportes Iquique', 'CD Antofagasta',
       'CD Universidad de Concepción', 'Unión La Calera', 'Beijing Renhe',
       'Shanghai SIPG FC', 'Curicó Unido', 'San Luis de Quillota',
       'Club Deportes Temuco', 'Leones FC', 'Guizhou Hengfeng FC',
       'Hebei China Fortune FC', 'Tianjin Quanjian FC', 'Shonan Bellmare',
       'Al-Hazem FC', 'Dalkurd FF', 'AS Béziers', 'TSV 1860 München',
       'GNK Dinamo Zagreb', 'Grenoble Foot 38', 'FC Energie Cottbus'],
      dtype=object)

In [43]:
le = preprocessing.LabelEncoder()
le.fit(df['club'])
le.classes_
le.transform(df['club'].unique())

array([301, 316,  79, 366, 365, 203, 127, 205, 354, 573,  49, 464, 195,
       373, 541, 388, 223, 472, 423,  59, 342, 617, 240,  66, 466, 519,
       607, 620, 492,  15, 563, 534, 307,  71, 452, 348,  53,  80, 604,
       242, 555, 225,   6, 449, 409, 463, 593, 619, 187, 450, 581, 408,
       559, 539, 448, 410, 520,  24, 403, 571, 385,   2, 287, 484, 160,
       478, 569, 254, 103, 394, 500, 417, 241, 114,  81, 130, 164, 258,
       277, 358,  77, 504,  93, 470,  92,  52, 454, 575, 583, 610, 368,
       212, 516, 204,  87, 202, 415, 221, 574, 600,  17, 506, 280, 381,
       551, 350,  46, 380,  45, 190, 115, 262, 142, 572, 627, 493, 540,
        94, 259, 120, 318, 294, 144,  56, 338, 134, 418, 518, 268, 139,
       359,  51, 284, 332,  10, 126, 250,  31, 293, 159,  60, 336, 304,
        98,  26, 557, 232, 461,  43, 264, 346, 438, 215, 451, 379, 302,
       538, 149, 468, 579, 137, 586, 398, 526,  72, 180,  40, 421, 595,
       495, 177, 445,  18, 325,  70, 315, 146, 550, 321, 145, 476, 113,
        55, 455, 514, 207, 129,  12, 609,  21, 391,  32,  64, 369, 181,
       473, 401, 399,   4, 371, 446, 462,   5, 306, 441, 486, 553, 185,
       324, 216, 412, 458, 179, 220, 274, 531, 138, 505, 245, 108, 420,
       347, 174,   0,  25, 291, 611, 392, 543,  16, 213, 135, 443, 158,
       224,   9, 165, 390, 148, 226, 584, 480,  85, 328, 249,  33, 196,
         1, 176, 447, 305, 150, 340, 217, 475, 608, 263, 561, 141, 229,
        69, 265, 402, 193, 122,  88,  86, 395, 290, 326, 427, 360, 201,
       621, 481, 578, 537,  47, 442, 117, 345, 162, 431, 308, 111,  75,
       323, 112, 331,  78, 542, 440, 362,  89, 501,   8, 166, 601, 489,
       549, 292, 312, 580, 197, 286,  44, 374, 568, 503, 104, 485, 456,
       429, 105, 311,  41, 512, 101, 437,  95, 498, 186, 247, 444, 614,
       413, 424, 536, 474, 552, 211, 530,  63, 344, 386, 416, 544, 230,
       330, 156, 590, 570, 469, 364, 525, 383, 622, 309, 631,  73, 375,
        91, 494, 558, 327, 163, 624, 623, 592, 341, 465, 377, 255, 310,
        13, 428, 189, 414, 411,   3,  61, 589, 173, 511, 125, 490, 228,
       236, 378, 296, 376, 319, 329, 527, 200, 434, 227, 636, 279, 556,
       435, 457,  50,  65, 613, 234, 119,  42, 214,  20, 297, 602, 499,
       482,  54, 235, 548, 488, 612, 404, 313, 433,  96, 517, 483, 594,
        36, 171, 582, 502, 599, 339, 605, 298, 562, 281, 439,  83, 123,
       545, 357,  48, 175,  57,  30, 635, 288, 282, 133, 397, 535, 630,
       257, 603, 432, 487, 370, 477,  58, 140, 333,  19, 219, 222, 400,
       471, 167, 426, 239, 508, 256, 515,  28, 289, 425, 337, 405, 351,
       238, 261, 154, 303, 244, 132,  35,  37, 182, 634, 615, 430,  90,
       218, 479, 334,  23, 618,  29, 299, 231, 153, 260, 407, 393, 422,
       626, 194, 191, 198, 184, 278, 273, 496, 628, 147, 367, 275, 317,
       206, 121,  11,  34, 267, 118, 436, 560, 276, 155, 243, 596, 406,
       157, 384, 353, 183,   7, 625, 252,  74, 497, 491, 529,  76, 629,
       151, 547, 510, 116, 110,  27, 382, 246, 128,  22, 587, 107, 106,
       396, 100, 335, 554, 178, 533,  84, 352, 521, 320, 343, 532, 389,
       453, 188, 199, 355, 248, 170, 577,  97, 616, 597, 237, 192, 513,
       300, 322, 356, 251, 363, 565, 233, 576, 209, 546, 361, 633, 208,
        62, 460, 606, 419, 523, 585, 632, 467, 102, 272, 598, 295, 136,
       509, 522,  67, 124, 567, 285, 269,  82, 387, 314, 131, 152, 459,
       168,  38, 270, 591, 372, 172,  99, 109, 588,  68, 524, 161, 507,
       143, 349, 271, 283, 566, 528,  39, 169,  14, 564, 253, 266, 210])